In [1]:
import numpy as np
import pandas as pd
import time

import pathlib
import PIL.Image as Image
import matplotlib.pylab as plt

import tensorflow as tf
import tensorflow_hub as hub

import datetime


import os
import shutil
from keras.preprocessing.image import load_img

In [2]:
df=pd.read_csv('image_age_gender_classification.csv')
df

                     original_image gender       age
0      10399646885_67c7d20df9_o.jpg      f  (25, 32)
1      10424815813_e94629b1ec_o.jpg      m  (25, 32)
2      10437979845_5985be4b26_o.jpg      f  (25, 32)
3      10437979845_5985be4b26_o.jpg      m  (25, 32)
4      11816644924_075c3d8d59_o.jpg      m  (25, 32)
...                             ...    ...       ...
18546  10587826073_6663f5b654_o.jpg      f  (25, 32)
18547  10587571495_a61785cd06_o.jpg      m  (25, 32)
18548  10587571495_a61785cd06_o.jpg      f  (25, 32)
18549   9426695459_9e8b347604_o.jpg      f  (25, 32)
18550   9429464468_1bfc39ecfb_o.jpg      f  (25, 32)

[18551 rows x 3 columns]

In [3]:
print(df['age'].value_counts())

(25, 32)     4953
(0, 2)       2488
(38, 43)     2293
(4, 6)       2140
(8, 12)      2119
(15, 20)     1642
(60, 100)     867
(48, 53)      825
35            293
13            168
22            149
34            105
23             96
45             88
(27, 32)       77
55             76
36             56
(38, 42)       46
57             24
3              18
29             11
(38, 48)        6
58              5
2               3
(8, 23)         1
42              1
46              1
Name: age, dtype: int64

In [4]:
df_male=df.loc[df['gender'] == 'm']
df_female=df.loc[df['gender'] == 'f']
print(df_male)
print(df_female)

                     original_image gender       age
1      10424815813_e94629b1ec_o.jpg      m  (25, 32)
3      10437979845_5985be4b26_o.jpg      m  (25, 32)
4      11816644924_075c3d8d59_o.jpg      m  (25, 32)
9      10190308156_5c748ab2da_o.jpg      m  (25, 32)
10     11624488765_9db0b93c94_o.jpg      m  (25, 32)
...                             ...    ...       ...
18535  11523339855_06aeaa34c5_o.jpg      m  (38, 43)
18536  11523339855_06aeaa34c5_o.jpg      m  (38, 43)
18543  10760831476_f1bcd338bf_o.jpg      m        55
18544  10587595486_5bbe5a3a1d_o.jpg      m  (25, 32)
18547  10587571495_a61785cd06_o.jpg      m  (25, 32)

[8120 rows x 3 columns]
                     original_image gender       age
0      10399646885_67c7d20df9_o.jpg      f  (25, 32)
2      10437979845_5985be4b26_o.jpg      f  (25, 32)
5      11562582716_dbc2eb8002_o.jpg      f  (25, 32)
6      10424595844_1009c687e4_o.jpg      f  (38, 43)
7       9506931745_796300ca4a_o.jpg      f  (25, 32)
...                             ...    ...       ...
18545  10587595486_5bbe5a3a1d_o.jpg      f  (25, 32)
18546  10587826073_6663f5b654_o.jpg      f  (25, 32)
18548  10587571495_a61785cd06_o.jpg      f  (25, 32)
18549   9426695459_9e8b347604_o.jpg      f  (25, 32)
18550   9429464468_1bfc39ecfb_o.jpg      f  (25, 32)

[9332 rows x 3 columns]

In [5]:
print(df_male['age'].value_counts())

(25, 32)     2279
(38, 43)     1241
(8, 12)       929
(4, 6)        909
(15, 20)      733
(0, 2)        716
(60, 100)     446
(48, 53)      404
35            105
45             66
55             62
36             52
(38, 42)       46
34             40
23             35
57             19
3              16
22              9
(38, 48)        6
13              3
58              2
(8, 23)         1
42              1
Name: age, dtype: int64

In [6]:
df['age'] = df['age'].replace(['(0, 2)'],'1')
df['age'] = df['age'].replace(['(4, 6)'],'5')
df['age'] = df['age'].replace(['(8, 12)'],'10')
df['age'] = df['age'].replace(['(8, 23)'],'15')
df['age'] = df['age'].replace(['(15, 20)'],'17')
df['age'] = df['age'].replace(['(25, 32)'],'30')
df['age'] = df['age'].replace(['(27, 32)'],'29')
df['age'] = df['age'].replace(['(38, 42)'],'40')
df['age'] = df['age'].replace(['(38, 43)'],'41')
df['age'] = df['age'].replace(['(38, 48)'],'44')
df['age'] = df['age'].replace(['(48, 53)'],'51')
df['age'] = df['age'].replace(['(48, 53)'],'51')
df['age'] = df['age'].replace(['(60, 100)'],'80')

In [7]:
print(df_female['age'].value_counts())

(25, 32)     2672
(4, 6)       1230
(8, 12)      1188
(38, 43)     1052
(15, 20)      907
(0, 2)        681
(48, 53)      421
(60, 100)     420
35            188
13            165
22            140
(27, 32)       77
34             65
23             61
45             22
55             14
29             11
57              5
36              4
2               3
58              3
3               2
46              1
Name: age, dtype: int64

In [8]:
destination_dir_male='./classified_age_gender_images/male_face'
destination_dir_female='./classified_age_gender_images/female_face'
destination_dir_male='./classified_age_gender_images'
#os.mkdir(destination_dir_male)
#os.mkdir(destination_dir_female)

In [9]:
dir_path = os.getcwd()
dir_path

'C:\\Users\\CHOCKALINGAM KASI\\OneDrive - Nanyang Technological University\\NTU\\Y3S1\\CE4042 Neural Network and Deep Learning\\CE4042_Project_Assignment2'

In [16]:
source_classified_image_male= dir_path+"\\classified_images\\male_face"
source_classified_image_female= dir_path+"\\classified_images\\female_face"
print(source_classified_image_male)
print(source_classified_image_female)

C:\Users\CHOCKALINGAM KASI\OneDrive - Nanyang Technological University\NTU\Y3S1\CE4042 Neural Network and Deep Learning\CE4042_Project_Assignment2\classified_images\male_face
C:\Users\CHOCKALINGAM KASI\OneDrive - Nanyang Technological University\NTU\Y3S1\CE4042 Neural Network and Deep Learning\CE4042_Project_Assignment2\classified_images\female_face

In [11]:
dest_classified_age_gender_images_male=dir_path+"\\classified_age_gender_images\\male_face"
dest_classified_age_gender_images_female=dir_path+"\\classified_age_gender_images\\female_face"
print(dest_classified_age_gender_images_male)
print(dest_classified_age_gender_images_female)

C:\Users\CHOCKALINGAM KASI\OneDrive - Nanyang Technological University\NTU\Y3S1\CE4042 Neural Network and Deep Learning\CE4042_Project_Assignment2\classified_age_gender_images\male_face
C:\Users\CHOCKALINGAM KASI\OneDrive - Nanyang Technological University\NTU\Y3S1\CE4042 Neural Network and Deep Learning\CE4042_Project_Assignment2\classified_age_gender_images\female_face

### Age wise classification

In [27]:
dest_age_0_3='./classified_age_gender_images/age_0_3'
dest_age_4_6='./classified_age_gender_images/age_4_6'
dest_age_8_13='./classified_age_gender_images/age_8_13'
dest_age_15_23='./classified_age_gender_images/age_15_23'
dest_age_25_32='./classified_age_gender_images/age_25_32'
dest_age_34_54='./classified_age_gender_images/age_34_54'
dest_age_55_100='./classified_age_gender_images/age_55_100'


os.mkdir(dest_age_0_3)
os.mkdir(dest_age_4_6)
os.mkdir(dest_age_8_13)
os.mkdir(dest_age_15_23)
os.mkdir(dest_age_25_32)
os.mkdir(dest_age_34_54)
os.mkdir(dest_age_55_100)

In [29]:
age_0_3=0
age_4_6=0
age_8_13=0
age_15_23=0
age_25_32=0
age_34_54=0
age_55_100=0


count=0
for filename in os.listdir(source_classified_image_male):
    source_dir=source_classified_image_male+'\\'+ filename
    flag=filename.split('.')[2]
    temp=df.loc[df['original_image'] == flag+'.jpg']
    age=int(temp['age'].values[0])
    if(age>=0 and age<=3):
        shutil.copy(source_dir,dest_age_0_3)
    elif(age>=4 and age<=6):
        shutil.copy(source_dir,dest_age_4_6)
    elif(age>=8 and age<=13):
        shutil.copy(source_dir,dest_age_8_13)
    elif(age>=15 and age<=23):
        shutil.copy(source_dir,dest_age_15_23)
    elif(age>=25 and age<=32):
        shutil.copy(source_dir,dest_age_25_32)
    elif(age>=34 and age<=54):
        shutil.copy(source_dir,dest_age_34_54)
    elif(age>=55 and age<=100):
        shutil.copy(source_dir,dest_age_55_100)
    
    count=count+1
print(count)

6307

In [31]:
age_0_3=0
age_4_6=0
age_8_13=0
age_15_23=0
age_25_32=0
age_34_54=0
age_55_100=0


count=0
for filename in os.listdir(source_classified_image_female):
    source_dir=source_classified_image_female+'\\'+ filename
    flag=filename.split('.')[2]
    temp=df.loc[df['original_image'] == flag+'.jpg']
    age=int(temp['age'].values[0])
    if(age>=0 and age<=3):
        shutil.copy(source_dir,dest_age_0_3)
    elif(age>=4 and age<=6):
        shutil.copy(source_dir,dest_age_4_6)
    elif(age>=8 and age<=13):
        shutil.copy(source_dir,dest_age_8_13)
    elif(age>=15 and age<=23):
        shutil.copy(source_dir,dest_age_15_23)
    elif(age>=25 and age<=32):
        shutil.copy(source_dir,dest_age_25_32)
    elif(age>=34 and age<=54):
        shutil.copy(source_dir,dest_age_34_54)
    elif(age>=55 and age<=100):
        shutil.copy(source_dir,dest_age_55_100)
    
    count=count+1
print(count)

6346